@import url('https://fonts.googleapis.com/css?family=Abel');

html, body {
  font-family: Abel, Arial, Verdana, sans-serif;
}

.card-list {
    flex: 1;
}

.card {
  width: 450px;
  height: 250px;
  display: flex;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  margin: 1.5rem;
}

.card .user-card {
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #325C46;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.avatar {
	border-radius: 50%;
	max-height: 125px;
	vertical-align: middle;
}

.card .user-card .tag {
  margin-top: 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}
/* 
.card .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card .stats > div {
  flex: 1;
  text-align: center;
}

.card .stats i {
  display: block;
}

.card .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
} */

.card .general {
  display: -webkit-box;
  flex: 1;
  overflow: hidden;
  transition: all 1s;
}

.card .general:hover {
  background-color: #325C46;
}

.card .general:hover .more-info {
  margin-left: 0;
}

.normal-info {
  width: 100%;
}

.more-info {
  margin-left: -100%;
  background-color: #325C46;
  width: 100%;
  transition: all 1s;
}

.more-info h1 {
  color: #fff;
  margin-bottom: 0;
}
